<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="sectionConfigGroup">
			<section name="sectionConfig" type="VehtorWSConsultaApi.AppService.Config.SectionConfig, VehtorWSConsultaApi.AppService" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<appSettings>
		<add key="configuration_protected" value="true" />
		<add key="StartMode" value="Producao" />
		<!--Producao-->
		<!--DesenvolvimentoApi-->
		<add key="Url_Api" value="http://siwpw01d/MascaraSuporteTecnico/api/" />
		<add key="Url_Api_Dev" value="http://localhost:49824/api/" />
		<add key="urlApiEbots" value="https://e-bots.co/api/api/v1/" />
		<add key="tokenEbots" value="tahto-b7a5b607-c926-4eb7-92c5-ea3f2c171105" />
		<add key="seletorVehtor" value="#Observacao" />
		<!--<add key="hostWs" value="localhost" />-->
		<!--<add key="hostWs" value="siwpw01d" />-->
		<add key="hostWs" value="localhost" />
		<add key="portaWs" value="5000" />
		<add key="proxy" value="" />
		<add key="stepWait" value="17" />
		<add key="tempoMaximo" value="240" />
		<add key="robotId" value="86" />
		<add key="taskId" value="321" />
		<add key="statusId" value="403" />
		<add key="taskIdConsulta" value="316" />
		<add key="separarSiebel" value="True" />
		<add key="robotIdSiebel" value="106" />
		<add key="taskIdSiebel" value="341" />
		<add key="statusIdSiebel" value="406" />
		<add key="taskIdSiebelConsulta" value="340" />
		<add key="separarNetQ" value="True" />
		<add key="robotIdNetQ" value="117" />
		<add key="taskIdNetQ" value="364" />
		<add key="statusIdNetQ" value="426" />
		<add key="taskIdNetQConsulta" value="361" />
		<add key="separarSalesforce" value="True" />
		<add key="robotIdSalesforce" value="118" />
		<add key="taskIdSalesforce" value="371" />
		<add key="statusIdSalesforce" value="440" />
		<add key="taskIdSalesforceConsulta" value="368" />
		<add key="ignoreParametros" value="ERRO,UID,SISTEMA,Produtos" />
		<add key="adiantarConsulta" value="True" />
		<!--<add key="operadoresAutorizados" value="BC708372,BC789961,BC790762,BC732304,BC697413,BC795576,BC786449,BC790588,BC781758,BC796096,BC795604,BC791537,BC796194,BC777900,BC793398,BC794747,BC761923," />-->
		<add key="operadoresAutorizados" value="" />
		<add key="piloto" value="true" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
</configuration>